.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  background-color: black;
  color: white;
  padding: 20px;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 2em;
  margin: 0;
}

.title h2 {
  font-size: 1.5em;
  margin: 0;
}
.nav-links {
  display: flex;
  flex-direction: row;
}
.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.nav-links a:first-child {
  margin-left: 0;
}
